.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
    width: 1300px;
    height: 300px;
}

.ant-carousel .slick-slide img {
    width: 1300px;
    height: 300px;
}