@import '~antd/dist/antd.css';
.img-livro {
    width: 300px;
    height: 433.91;
}

.main {
    flex-direction: column;
    padding: 20px 40px;
    border: 1px solid #E6E6E6;
    background-color: #ffffff;
}

.clickable {
    cursor: pointer;
}